@import "tailwindcss";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  background-color: #0a0a0a;
  color: antiquewhite;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.f-workSans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.f-greateWibes {
  font-family: "Great Vibes", cursive;
}

.f-rockSalt {
  font-family: "Rock Salt", cursive;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}